@model IEnumerable<MvcMovie1.Models.Movie>
<script>window.sessionStorage.removeItem('page');</script>
@{
    ViewData["Title"] = "My MovieList";
}




@{
    if (TempData.Peek("UserName") == null)
    {
        <h2 style="padding: 20% 0 0 20%">Please Login to see your Movie List</h2>
    }
    else
    {
        <br /><br />
        <p>
            <a asp-action="Create">Add new movie</a>
        </p>
        <table class="table" style="display:table;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Homepage)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre)
                        </td>
                        <td>
                            <!--@Html.DisplayFor(modelItem => item.Homepage)-->
                            @if (item.Homepage != null) {
                                <a href= @item.Homepage >  Go !</a>
                            }
                        </td>

                    </tr>
                    <tr>
                        <td style="border-top: none;">
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        </td>
                        <td style="border-top: none;">
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        </td>
                        <td style="border-top: none;">
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


